.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    color: rgb(0, 0, 0);
    width: 170px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    gap: 30px;
    color: #ee5194;
    font-family: obviously;
    font-weight: 500;
}
  