.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px 15px 50px;
}

.logo {
    color: rgb(0, 0, 0);
    width: 170px;
}

.pizza-emoji1 {
    display: none;
}
.pizza-emoji2 {
    display: none;
}

.list{
    display: flex;
    width: 100px;
}

.nav-links {
    display: flex;
    gap: 50px;
    color: #ee5194;
    font-family: obviously;
    font-weight: 500;
}

.nav-links:hover
.pizza-emoji1 {
    display:block;
}
.nav-links:hover
.pizza-emoji2 {
    display:block;
}